@model MarkdownBlog.Net.Web.Models.Archive
@{ ViewBag.Title = "Blog archive"; }

<h2>Blog archive</h2>

<h3>Posts for @Model.Month @Model.Year:</h3>

@Html.Partial("Posts", Model.ArchivePosts)
