@model MarkdownBlog.Net.Web.Models.SiteViewModel
@{ ViewBag.Title = "Posts"; }

<h2>Blog</h2>
@Html.Partial("Posts", Model.Posts.List)

@section asides
{
    @Html.Partial("Asides", Model)
}
