@model MarkdownBlog.Net.Web.Models.SiteViewModel
@{ ViewBag.Title = "Posts"; }

<h2>Blog index</h2>

<h3>Posts:</h3>
@Html.Partial("Posts", Model.Posts.List)

<h3>archive:</h3>
@Html.Partial("ArchiveLinks", Model.Posts.MonthlyArchiveLinks)
