@model MarkdownBlog.Net.Web.Models.Posts

@{
    ViewBag.Title = "title";
}

<h2>Blog index</h2>

<h3>Posts:</h3>
@PostHelpers.RenderPostList(Model.List)


<h3>archive:</h3>
@PostHelpers.RenderMonthlyArchiveLinks(Model.List)
