@model MarkdownBlog.Net.Web.Models.SiteViewModel

@{
    ViewBag.Title = "Posts";
}

<h2>Blog index</h2>

<h3>Posts:</h3>
@PostHelpers.RenderPostList(Model.Posts.List)


<h3>archive:</h3>
@PostHelpers.RenderMonthlyArchiveLinks(Model.Posts.MonthlyArchiveLinks)
