@model MarkdownBlog.Net.Web.Models.Posts
@{
    ViewBag.Title = "title";
}

<h2>Blog index</h2>

<h3>Posts:</h3>
<ul>
    @foreach (var postData in Model.List.OrderByDescending(p => p.PublishDate)) {
        <li>
            <a href="/blog/@postData.Title">@postData.Title - <i>Posted @postData.PublishDate by @postData.Author</i></a>
            <br />
            <p>@postData.ShortDescription</p>
        </li>
    }
</ul>
