@model IEnumerable<MarkdownBlog.Net.Web.Models.ArchiveItemGrouping>

@if (Model != null) {
    <ul>
        @foreach (var month in Model) {
            <li><a href="/blog/archive/@month.ArchiveItem.Month/@month.ArchiveItem.Year">@month.ArchiveItem.Month @month.ArchiveItem.Year (@month.Count)</a></li>
        }
    </ul>
}
