<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="Name" value="nickmeldrum.com" />
  <add key="Description" value="Nick's blog" />
  <add key="DisqusShortName" value="nickmeldrum" />
  <add key="StackOverflowFlairId" value="32739" />
  <add key="StackOverflowFlairUserName" value="nick-meldrum" />
  <add key="StackOverflowFlairDisplayName" value="Nick Meldrum" />
  <add key="Owner" value="Nick Meldrum" />
</appSettings>